<div class="contenedor-catalogo">
  <h1 class="titulo">Nuestro Catálogo con 20% de Descuento</h1>
  
  <div class="grid-productos">
    @for (prod of productos; track prod.id) {
      <div class="tarjeta-producto" [class.sin-stock]="prod.stock === 0">
        
        <span class="marca">{{ prod.marca | uppercase }}</span>
        
        <h3>{{ prod.nombre }}</h3>
        
        <p style="text-decoration: line-through; color: #94a3b8; margin-bottom: 0;">
          {{ prod.precio | currency:'PEN':'symbol':'1.2-2' }}
        </p>

        <p class="precio" style="font-size: 1.5rem; font-weight: bold; color: #16a34a; margin-top: 5px;">
          {{ prod.precio | descuentoPrice:20 | currency:'PEN':'symbol':'1.2-2' }}
        </p>
        
        @if (prod.stock > 0) {
          <button class="btn-comprar" (click)="agregarAlCarrito(prod)">Añadir al carrito</button>
        } @else {
          <span class="etiqueta-agotado" style="color: #dc2626; font-weight: bold;">Agotado</span>
        }
      </div>
    }
  </div>
</div>