<div class="contenedor-carrito">
  <h1 class="titulo">Tu Carrito de Compras</h1>

  @if (carritoSvc.cantidadGlobal() === 0) {
    <div class="carrito-vacio">
      <span class="icono-grande">🛒</span>
      <h2>Tu carrito está vacío</h2>
      <p>¡Descubre nuestro catálogo y elige tus favoritos!</p>
      <a routerLink="/catalogo" class="btn-primario">Ir al Catálogo</a>
    </div>
  } @else {
    <div class="carrito-lleno">
      <div class="lista-items">
        @for (item of carritoSvc.items(); track $index) {
          <div class="item-tarjeta">
            <div class="info-item">
              <h3>{{ item.nombre }}</h3>
              <span class="marca">{{ item.marca }}</span>
            </div>
            <div class="precio-item">{{ item.precio | currency:'PEN':'symbol':'1.2-2' }}</div>
            <button class="btn-eliminar" (click)="eliminar($index)">🗑️</button>
          </div>
        }
      </div>

      <div class="resumen-compra">
        <h3>Resumen</h3>
        <div class="fila-resumen">
          <span>Total a pagar:</span>
          <span class="total-dinero">{{ carritoSvc.totalGlobal() | currency:'PEN':'symbol':'1.2-2' }}</span>
        </div>
        <button class="btn-pagar">Proceder al Pago</button>
      </div>
    </div>
  }
</div>